body{
    margin: 0px;
    background-color: #EDE4DB;
}

header{
    background-image: url(../imagens/imagem\ header_preto&branco.jpg);
    height: 200px;
    margin-top: 0px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

header > h1{
    color: #C52D3A;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    margin: -20px 0 0 -20px;
    font-size: 2.5em;
}

main > img{
    width: auto;
    height: 500px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.conteudo{
    width: 700px;
    display: block;
    margin: auto;
    padding-top: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
}

.voltar{
    color: #EDE4DB;
    background-color: #C52D3A;
    padding: 10px 15px;
    border: solid black 3px;
    border-radius: 10px;
    text-align: center; 
    font-size: 1.5em;
}